@model ldap.Models.Login
@{
    ViewBag.Title = "Login";
}
@*@{
    Layout = "~/Views/Shared/Layout.cshtml";
}*@
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <title>rtgr</title>
    <link rel="stylesheet" type="text/css" href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/ui-lightness/jquery-ui.css"></style>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.2.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.11.2/jquery-ui.min.js"></script>

</head>
<body>



            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
            {

                <div>
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>

                <div>
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </div>

                <div>
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>

                <div>
                    <button class="btn btn-large btn-primary" type="submit">Войти</button>
                </div>
            }
      
     

 
   
</body>
</html>
