@model ldap.Models.EventModels

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reservation</title>
</head>
<body>
    <div>
        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Добавить новое событие</legend>
                <ol>
                    <li>
                        @Html.Label("Название события:")
                        @Html.TextBoxFor(m => m.NameEvent)
                        @Html.ValidationMessageFor(m => m.NameEvent)
                    </li>
                    <li>
                        @Html.Label("Начало события:")
                        @Html.TextBoxFor(m => m.StartEvent)
                        @Html.ValidationMessageFor(m => m.StartEvent)
                    </li>
                    <li>
                        @Html.Label("Конец события:")
                        @Html.TextBoxFor(m => m.EndEvent)
                        @Html.ValidationMessageFor(m => m.EndEvent)
                    </li>
                    
                </ol>
                <input type="submit" value="Войти" />
            </fieldset>
        }
    </div>
</body>
</html>
