@{
    //Layout = "~/Views/Shared/Layout.cshtml";
}


<center>
    <script type="text/javascript">
        function OnSuccess(data) {
            var results = $('#results'); // получаем нужный элемент
            results.empty(); //очищаем элемент
            results.append('<li>' + data + '</li>'); // добавляем данные в список

        }

        function AddEvent() {
            var formData = {
                NameEvent: $('#NameEvent').val(),
                StartEvent: $('#StartEvent').val(),
                EndEvent: $('#EndEvent').val()
            }

            $.ajax({
                url: "@Url.Action("AddNewEvent" , "Logic")",
                type: 'POST',
                data: JSON.stringify(formData),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                processData: false,
                    success: function (result) {
                        loadEventsOfDay(result.data)  //перегружает список событий в этот день
                        reloadCalendar(result.year, result.month, result.month) // перегружает календарь
                },
                error: function () {
                    alert('Ошибка! Добавление невозможно. Проверьте соединение с интернетом!');
                }

            });
        }
    </script>

    <div>
        @using (Ajax.BeginForm("AddNewEvent", "Logic", new AjaxOptions
        {

            InsertionMode = InsertionMode.InsertAfter,
            OnSuccess = "OnSuccess",


        }))
        {     
            <h2>Добавить мероприятие</h2>
    <table class="table-striped table-bordered table-bordered table-hover table-condensed" align="center">

        <tr>
            <td>@Html.Label("Событие:")</td>
            <td>@Html.Label("Начало:")</td>
            <td>@Html.Label("Конец:")</td>
        </tr>

        <tr>
            <td><input class="form" type="text" name="NameEvent" id="NameEvent" /></td>
            <td><input name="StartEvent" id="StartEvent" type="text"></td>
            <td><input name="EndEvent" id="EndEvent" type="text"></td>
            <td><input a class="btn btn-default" role="button" type="button" onclick="AddEvent()" value="Добавить" /></td>
        </tr>
    </table>
        }
    </div>
</center>



















@*<div>

        @using (Html.BeginForm("Reservation", "Logic", FormMethod.Post))
        {
            <p>Название мероприятия: </p>


            @Html.TextBox("NameEvent")
            <p>Начало:</p>
            @Html.TextBox("StartEvent")

            <p>Конец:</p>
            @Html.TextBox("EndEvent")

            @Html.ValidationSummary("StartEvent")
            <p><input type="submit" value="Забронировать" /></p>
        }
    </div>*@
