@{
    //Layout = "~/Views/Shared/Layout.cshtml";
}

<div>
    @using (Html.BeginForm("Reservation", "Logic", FormMethod.Post))
    {
        <h2>Добавить мероприятие:</h2>
        //<h2>@ViewBag.Message</h2>
        <div>
            <p>Сегодня: @DateTime.Now.ToShortDateString() Время:@DateTime.Now.ToShortTimeString()</p>
        </div>
        <table border="0" cellspacing="0" cellpadding="2" style="background-color:#E6E6FA; color:#000000">
            <tr>
                <th>Название</th>
                <th><p>Дата начала:</p></th>
                <th>Дата конца</th>
                <td></td>
            </tr>
            <tr>
                <td align="center">@Html.TextBox("NameEvent")</td>
                <td align="center">@Html.TextBox("StartEvent")</td>
                <td align="center">@Html.TextBox("EndEvent")</td>
                <td align="center">@Html.ValidationSummary()<p><input type="submit" value="Забронировать" /></p></td>
            </tr>
        </table>
    }






</div>





















@*<div>

        @using (Html.BeginForm("Reservation", "Logic", FormMethod.Post))
        {
            <p>Название мероприятия: </p>


            @Html.TextBox("NameEvent")
            <p>Начало:</p>
            @Html.TextBox("StartEvent")

            <p>Конец:</p>
            @Html.TextBox("EndEvent")

            @Html.ValidationSummary("StartEvent")
            <p><input type="submit" value="Забронировать" /></p>
        }
    </div>*@