@model IEnumerable<ldap.Models.Event>

<center><h2>Мероприятия в этот день </h2></center>

<div>
    <table class="table-striped table-bordered table-bordered table-hover table-condensed" align="center" width="600">
        <thead class="thead-inverse">
            <tr>
                <th>Мероприятие</th>
                <th>Дата начала</th>
                <th>Дата конца</th>
                <th>Автор</th>
                <th>Удаление</th>
            </tr>
        </thead>

        @foreach (ldap.Models.Event b in Model)
        {

            <tr>

                <td align="center">@b.DescriptionEvent</td>
                <td id="StartEvent1" type="text" align="center">@b.StartTime</td>
                <td align="center">@b.EndTime</td>
                <td align="center">@b.UserID</td>
                <td align="center"><input a class="btn btn-default" role="button" type="button" onclick="RemoveEvent(@b.id)" value="удалить"></td>
            </tr>
        }
    </table>
</div>





