@model ldap.Models.CalendarModel



@* Кнопки "Вперёд" ,"Назад" *@
<a href="#" onclick="reloadCalendar(@Model.prevDate.Year, @Model.prevDate.Month, @Model.prevDate.Day); false;">Предыдущий</a>
<a href="#" onclick="reloadCalendar(@Model.nextDate.Year, @Model.nextDate.Month, @Model.nextDate.Day); false;">Следующий</a>



<table width="1000" border="1">
    <thead>
        <tr>
            <th>Понедельник</th>
            <th>Вторник</th>
            <th>Среда</th>
            <th>Четверг</th>
            <th>Пятница</th>
            <th>Суббота</th>
            <th>Воскресенье</th>
        </tr>
    </thead>

    @{

        int mem = 1;
        for (int i = 0;
            i <= Model.numberOfLines; i++)
        {
            <tr>
                @for (int j = 1; j <= 7; j++)
                {
                    if ((i == 0 && Model.dayOfWeek <= j) || (i > 0 && mem <= Model.daysInMonth))
                    {
                        <td align="center" class="js-myday" id="calendar-day-@mem">@mem </td>
                        mem++;
                    }
                    else
                    {
                        <td align="center"></td>
                    }
                }
            </tr>
        }
    }
</table>