@model IEnumerable<ldap.Models.Event>


<script type="text/javascript">
    function OnSuccess(data) {
        var results = $('#results'); // получаем нужный элемент
        results.empty(); //очищаем элемент
        results.append('<li>' + data + '</li>'); // добавляем данные в список

    }

    function RemoveEvent(id) {
        //var a = id;
        var event_id1 = id;
        //var event_id1 = document.getElementById("ev_id").innerHTML;
        var current_date = document.getElementById("StartEvent1").innerHTML;
        

        $.ajax({
            type: 'POST',
            //url: 'Url.Action("RemoveEvent", "Logic")',
            url: '/Logic/RemoveEvent?event_id=' + event_id1,
            contentType: 'application/json; charset=utf-8',
            //data: JSON.stringify(formData),
            //dataType: 'json',
        //contentType: false,
            processData: false,
            success: function (data) {
                if (data.success) {
                    loadEventsOfDay(current_date)
                } else {
                    alert("ошибка удаления!!!")
                }

           
            jQuery('.form').trigger('reset');
        },
            error: function () {
                alert('Ошибка! Проверьте соединение!');
        }

        });
        }
</script>

<center><h2>Мероприятия в этот день </h2></center>

<div>
    <table class="table-striped table-bordered table-bordered table-hover table-condensed" align="center">
        <thead class="thead-inverse">
            <tr>
                <th>Мероприятие</th>
                <th>Дата начала</th>
                <th>Дата конца</th>
                <th>Автор</th>
                <th>Удаление</th>
            </tr>
        </thead>

      
        @foreach (ldap.Models.Event b in Model)
        {
           
            <tr>
                
                @*<td style="display: none" align="center" type="text" name="ev_id" id="ev_id">@b.id</td>*@
                <td align="center">@b.DescriptionEvent</td>
                <td id="StartEvent1" type="text" align="center">@b.StartTime</td>
                <td align="center">@b.EndTime</td>
                <td align="center">@b.UserID</td>
                @*<td align="center"><a class="btn btn-default" href="/Logic/RemoveEvent?event_id=@b.id&current_date=@b.EndTime.ToShortDateString()" role="button">Удалить</a></td>*@
                <td align="center"><input a class="btn btn-default" role="button" type="button" onclick="RemoveEvent(@b.id)" value="удалить"></td>
            </tr>
        }
    </table>
</div>




















@*@model ldap.Models.Event

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionEvent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th></th>
    </tr>

@foreach (ldap.Models.Event b in ViewBag.Events)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => b.DescriptionEvent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => b.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => b.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => b.UserID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=b.id }) |
            @Html.ActionLink("Details", "Details", new { id=b.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=b.id })
        </td>
    </tr>
}

</table>*@
