@model ldap.Models.CalendarModel


<center>
    <h2>Календарь</h2>
    <p>Сегодня: @DateTime.Now.ToShortDateString() Время:@DateTime.Now.ToShortTimeString()</p>
</center>

<table width="1000" border="1" align="center">
    <tr align="center">
        <td><a href="#" onclick="reloadCalendar(@Model.prevDate.Year, @Model.prevDate.Month, @Model.prevDate.Day); false;">Назад</a></td>
        <td colspan="5">@Model.nameMonth.ToString()</td>
        <td><a href="#" onclick="reloadCalendar(@Model.nextDate.Year, @Model.nextDate.Month, @Model.nextDate.Day); false;">Вперёд</a></td>
    </tr>
    <tr align="center">
        <td><b>Понедельник</b></td>
        <td><b>Вторник</b></td>
        <td><b>Среда</b></td>
        <td><b>Четверг</b></td>
        <td><b>Пятница</b></td>
        <td><b>Суббота</b></td>
        <td><b>Воскресенье</b></td>
    </tr>

    @{

        int mem = 1;
        DateTime curDat;
        for (int i = 0;
            i <= Model.numberOfLines; i++)
        {
            <tr>
                @for (int j = 1; j <= 7; j++)
                {
                    if ((i == 0 && Model.dayOfWeek <= j) || (i > 0 && mem <= Model.daysInMonth))
                    {
                        curDat = new DateTime(Model.currentYear, Model.currentMonth, mem);
                        if (Model.currentDay == mem)
                        {
                            <td bgcolor="#7FFF00" align="center" class="js-myday" id="calendar-day-@mem">
                                <a href="#" onclick="loadEventsOfDay('@curDat'); false;"><b>@mem </b> </a>
                            </td>
                        }
                        else
                        {
                            <td align="center" class="js-myday" id="calendar-day-@mem"><a href="#" onclick="loadEventsOfDay('@curDat'); false;">@mem </a></td>
                        }
                        mem++;
                    }
                    else
                    {
                        <td align="center"></td>
                    }
                }
            </tr>
        }
    }
</table>