@model ldap.Models.CalendarModel

<center><h2>Расписание</h2></center>

<table border="1" id="calendar-day" class="table table-striped table-hover table-bordered">
    <tr align="center">
        <th><b>Понедельник</b></th>
        <th><b>Вторник</b></th>
        <th><b>Среда</b></th>
        <th><b>Четверг</b></th>
        <th><b>Пятница</b></th>
        <th><b>Суббота</b></th>
        <th><b>Воскресенье</b></th>
    </tr>
    <thead class="thead-inverse">
        <tr>
            <td><a href="#" onclick="reloadCalendar(@Model.prevDate.Year, @Model.prevDate.Month, @Model.prevDate.Day); false;">Назад</a></td>
            <td colspan="5">
                <center>
                    @Model.nameMonth.ToString()
                    <a href="javascript:PopUpShow()">Добавить</a><div id="dialogDiv"></div>
                </center>
            </td>
            <td><a href="#" onclick="reloadCalendar(@Model.nextDate.Year, @Model.nextDate.Month, @Model.nextDate.Day); false;">Вперёд</a></td>
        </tr>
    </thead>

    @{

        int mem = 1;
        DateTime curDat;

        for (int i = 0; i <= Model.numberOfLines; i++) // цикл задаёт количество строк в календаре
        {
            <tr>
                @for (int j = 1; j <= 7; j++)  // цикл задаёт количество столбцов. всегда = 7
                {
                    if ((i == 0 && Model.dayOfWeek <= j) || (i > 0 && mem <= Model.daysInMonth))
                    {
                        curDat = new DateTime(Model.currentYear, Model.currentMonth, mem);
                        if (Model.currentDay == mem && Model.currentMonth == DateTime.Now.Month) //  если это сегодня задаём зелёеый цвет ячейки и печатаем внутренний список
                        {

                            //внутренняя не пустая табличка сегодня
                            <td style=" cursor: pointer;" bgcolor="#CCFF90" align="left" class="js-myday" id="calendarday" custom="@curDat" onmouseover="this.style.background = 'silver'" onmouseout="this.style.background = ''">

                                <div class="data">@curDat.Day</div>

                                @if (Model.eventNameList.ElementAt(mem - 1) != null)
                                {
                                    for (int k = 0; k <= @Model.eventNameList.ElementAt(mem - 1).Count - 1; k++)
                                    {
                                        <div class="inner" custom="@curDat" id="calendarday">
                                            @Model.eventNameList.ElementAt(mem - 1).ElementAt(k).DescriptionEvent
                                        </div>
                                        <div class="remove-event-calendar"><img src="~/Content/img/Delete-icon.png" onclick="RemoveEvent(@Model.eventNameList.ElementAt(mem - 1).ElementAt(k).id, '@Model.eventNameList.ElementAt(mem - 1).ElementAt(k).StartTime')"></div>
                                    }
                                }
                                else  // пустая ячейка сегодня без событий с 5-ю пустыми строками
                                {
                                    <div class="inner" custom="@curDat" onmouseover="this.style.background = 'silver'" onmouseout="this.style.background = ''"></div>

                                    <div class="inner" custom="@curDat" onmouseover="this.style.background = 'silver'" onmouseout="this.style.background = ''"></div>

                                    <div class="inner" custom="@curDat" onmouseover="this.style.background = 'silver'" onmouseout="this.style.background = ''"></div>

                                    <div class="inner" custom="@curDat" onmouseover="this.style.background = 'silver'" onmouseout="this.style.background = ''"></div>

                                    <div class="inner" custom="@curDat" onmouseover="this.style.background = 'silver'" onmouseout="this.style.background = ''"></div>
                                }
                            </td>

                        }
                        else // если это не сегодня
                        {
                            <td style="cursor: pointer" class="js-myday" id="calendarday" custom="@curDat" onmouseover="this.style.background = 'silver'" onmouseout="this.style.background = ''">

                                <div class="data">@curDat.Day</div>

                                @if (Model.eventNameList.ElementAt(mem - 1) != null)  // если список не пустой
                                {
                                    int k = 0;
                                    for (; k <= @Model.eventNameList.ElementAt(mem - 1).Count - 1; k++)
                                    {
                                        <div class="inner" id="calendarday">

                                            @Model.eventNameList.ElementAt(mem - 1).ElementAt(k).DescriptionEvent

                                        </div>
                                        <div class="remove-event-calendar"><img src="~/Content/img/Delete-icon.png" onclick="RemoveEvent(@Model.eventNameList.ElementAt(mem - 1).ElementAt(k).id, '@Model.eventNameList.ElementAt(mem - 1).ElementAt(k).StartTime')"></div>
                                    }
                                }
                                else  // пустая ячейка без событий с 5-ю пустыми строками
                                {
                                    <div class="inner"></div>
                                    <div class="inner"></div>
                                    <div class="inner"></div>
                                    <div class="inner"></div>
                                    <div class="inner"></div>
                                }

                            </td>
                        }
                        mem++;
                    }
                    else
                    {
                        <td align="center"></td> // отображение пустых ячеей предыдущего и следующего месяца
                    }
                }
            </tr>
        }
    }
</table>

<script>
    $(document).ready(function () {
        $('.js-myday').click(function (event) {
            var b = this.attributes['custom'].value; // получаем значение атрибута custom по которому кликнули
            loadEventsOfDay(b);
        })
    });
</script>



@* Само окно *@


<div class="b-popup" id="popup1">
    <div class="b-popup-content">
        <h2>Новое мероприятие</h2>

        <form action="/Logic/AddNewEvent" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#results" id="form0" method="post">
            <fieldset>
                <p>@Html.Label("Название ")</p>
                <p><input class="form" type="text" name="NameEvent" id="NameEvent" placeholder="Например: 'Встреча'" /></p>

                <p>@Html.Label("Начало")</p>
                <p><input class="form" name="StartEvent" id="StartEvent" type="text" placeholder="дд.мм.гггг чч:мм"></p>

                <p>@Html.Label("Конец")</p>
                <p><input class="form" name="EndEvent" id="EndEvent" type="text" placeholder="дд.мм.гггг чч:мм"></p>

                <p><input type="button" name="Sendform" onclick="AddEvent(this.form)" value="Добавить" /></p>
                <p>
                    <div class="message">
                        <div id="resultsWWw"></div>
                    </div>
                    <a href="javascript:PopUpHide()">Закрыть</a>
                </p>
            </fieldset>
        </form>
    </div>
</div>




<script>
    $(document).ready(function () {
        //Скрыть PopUp при загрузке страницы
        PopUpHide();
    });
    //Функция отображения PopUp
    function PopUpShow() {
        document.getElementById('resultsWWw').innerHTML = '';
        $("#popup1").show();
    }
    //Функция скрытия PopUp
    function PopUpHide() {
        $("#popup1").hide();
    }
</script>
<script src="~/Scripts/js/datepicker-setup.js"></script>