@using ldap.Models

@model LogicModel


@{
    Layout = "~/Views/Shared/Layout.cshtml";
}
@{
    ViewBag.Title = "Logic";
}

<script>
    //Перезагружает календарь
    function reloadCalendar(year, month, day) {
        $('#calendar').load('_getCalendar', { 'year': year, 'month': month, 'day': day });
    }

    //Загружает список событий в этот день
    function loadEventsOfDay(currentDate) {
        reloadSchedule(currentDate)
        $('#eventsofday').load('_getEventsOfDay', { 'currentDate': currentDate });

    }
    // отображает список названий мероприятий в табличке
    function ShowEventsInTable(nameEvent) {
        $('#eventsofday').load('_getCalendar', { 'currentDate': nameEvent });
    }

    //Перегружает расписание на день
    function reloadSchedule(currentDate) {
        //alert("Привет из функции reloadSchedule")
        $('#schedule').load('_daySchedule', { 'currentDate': currentDate });
    }



</script>

<div class="container-fluid">
    <div class="row">

        <div class="col-lg-6">
            <div id="calendar">
                @Html.Partial("_getCalendar", Model.calendarModel)
            </div>
        </div>

        <div class="col-lg-3">
            <div id="eventsofday">
                @Html.Partial("_getEventsOfDay", Model.eventList)
            </div>

            <div>
                @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("UserReadAndWrite"))
                {
                    @Html.Partial("_addEventForm", Model.calendarModel)
                }
            </div>

        </div>
    </div>

    <div class="row">

        <div class="col-sm-6">@Html.Partial("_daySchedule", new ScheduleModel { eventList = Model.eventList, curentDate = Model.calendarModel.curentDate })</div>
        @*<div class="col-sm-6">@Html.Partial("_daySchedule", Model.scheduleModel)</div>*@
       


    </div>

    @Html.ActionLink("Выйти", "LogOff", "Account")

</div>
